@model List<TuPrecio.Models.Article>
@{
    ViewBag.Title = "Index";
}


@if (Model == null || !Model.Any())
{
    <h2>Producto o Artículo no encontrado!</h2>
}
else
{
    <table id="search-results">
        <thead>
            <tr>
                <th>Nombre</th>
                <th width="150">Precio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model)
            {
                <tr>
                    <td><a href="@Url.Action("Index", "Article", new { id = a.Id })">@a.Name</a></td>
                    <td>@a.Price</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="column medium-text-center" style="margin-top: 20px;">
            <b>¿Conoces algún producto que deba estar aquí? <a href="@Url.Action("Create", "Article")">¡Agrégalo aquí!</a></b>
        </div>
    </div>
}

@section scripts {
    @Styles.Render("~/Content/DataTables/css/jquery.dataTables.min.css")
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.min.js")

    <script>
        $(function () {
            $("#search-results").DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.11/i18n/Spanish.json"
                }
            });
        });
    </script>
}