<!DOCTYPE html>
<html class="" lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | TuPrecio.com</title>
    @Styles.Render("~/Content/css/foundation")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="top-bar BackGroundBlue">
        <div class="row">
            <div class="top-bar-left">
                <ul class="dropdown menu BackGroundBlue" data-dropdown-menu>
                    <li class="menu-text BackGroundBlue"><a href="@Url.Action("Index", "Home")" class="LogoLetters">TuPrecio.com</a></li>
                    @*<li><a href="@Url.Action("About", "Home")">Quienes Somos</a></li>*@
                </ul>
            </div>
            <div class="top-bar-right">
                <form action="@Url.Action("Index", "Search")">
                    <ul class="menu">
                        <li class="BackGroundBlue"><input type="search" name="criteria" placeholder="Buscar"></li>
                        <li class="BackGroundBlue"><button type="submit" class="button">Search</button></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        @RenderBody()
    </div>
    <div class="row column">
        <hr>
        <ul class="menu">
            <li>TuPrecio.com</li>
            @*<li><a href="@Url.Action("About", "Home")">About</a></li>*@
            <li class="float-right">Copyright @DateTime.Now.Year</li>
        </ul>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/foundation")
    <script>
        $(document).foundation();
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
