<!DOCTYPE html>
<html class="no-js" lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | TuPrecio.com</title>
    @Styles.Render("~/Content/css/foundation")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="top-bar">
        <div class="row">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text"><a href="@Url.Action("Index", "Home")"></a>TuPrecio.com</li>
                    <li><a href="@Url.Action("About", "Home")">About</a></li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <form action="@Url.Action("Index", "Search")">
                        <li><input type="search" name="criteria" placeholder="Search"></li>
                        <li><button type="submit" class="button">Search</button></li>
                    </form>
                </ul>
            </div>
        </div>
    </div>
    <br />

    @RenderBody()

    <div class="row column">
        <hr>
        <ul class="menu">
            <li>TuPrecio.com</li>
            <li><a href="@Url.Action("About", "Home")">About</a></li>
            <li class="float-right">Copyright @DateTime.Now.Year</li>
        </ul>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/foundation")
    <script>
      $(document).foundation();
    </script>
</body>
</html>
